@use '../_01joint/_02variables.scss' as Var;
@use '../_01joint/_mixin/_01media.scss' as Rwd;


  // 1800px 以下
  @include Rwd.Rwd(xxxl) {
    .c003 {
            /* 全課程樣式 */
            background-color: $background02;
            width: 60%;
            margin: 0 auto;
            margin-top: 20px;

            h2 {
                text-align: center;
                font-size: 18px;
                padding-top: 10px;
            }


            p {
                text-align: center;
            }

        }

        #word3 {
            text-align: left;
            width: 60%;
            margin: 0 auto;
            font-size: 14px;
            margin-top: 10px;
        }   
    }