body{
    background-color: rgb(0, 0, 0);
}
.left {
    width: 150px;
    float: left;
    background-image: url('./image/images/menu.gif');
    background-repeat: no-repeat;
    height: 486px;
    
}
.left ul{
    list-style: none;
    padding-left: 0;
    margin-top: 200px;
}
.leftnav{
    width: 150px;
    height: 174px;
}
.leftnav li{
    margin: 0 auto;
margin-top: 10px;
width: 130px;
border: solid 1px white;
}
.leftnav li:hover{
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
}
.leftnav li:hover a{
    color: rgb(0, 0, 0);
}

.leftnav a{
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        text-decoration: none;
        margin-left: 35px;
        color: white;
}

.top{
    height: 48px;
    background-image: url('./image/images/top.gif');
    background-repeat: no-repeat;
}
.content {
    margin-left: 150px;
    height: auto;
}
.content-text {
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    padding-right: 20px;
}
.content-text h2 {
    padding-top: 30px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}
.content-text h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
.content-text p {
    display: block;
    font-size: 16px;
}
.section-break{
    height: 20px;
    background-color: white;
}
