@use '../_01joint/_02variables.scss' as Var;
@use '../_01joint/_mixin/_01media.scss' as Rwd;


  // 1200px 以下
  @include Rwd.Rwd(xl) {
    h1{
        font-size: 27px;
    }
       nav p span{
            font-size: 14px;
       }
    }