@use '../_01joint/_02variables.scss' as Var;
@use '../_01joint/_mixin/_01media.scss' as Rwd;


  // 1800px 以下
  @include Rwd.Rwd(xxxl) {
    body{
        background-color:$background01;
    }
        h1 {
            margin-top: 20px;
            color: #333;
            text-align: center;
            font-size: 30px;
            margin-bottom: 10px;
        }

        nav a {
            text-decoration: none;
            color: #007BFF;
            width: 20%;
        }
        span{
            line-height: 20px;     /* 行高=高度，垂直居中 */
            text-align: center;    /* 水平居中 */
            display: block;
            font-size: 16px;
        }

        nav a:hover {
            text-decoration: underline;
        }
        nav p {
            margin: 0 auto;
            display: flex;
            
        }
        header {
            margin-bottom: 20px;
        }      
    }