@use '../_01joint/_02variables.scss' as Var;
@use '../_01joint/_mixin/_01media.scss' as Rwd;


  // 平板992px 以下
  @include Rwd.Rwd(lg) {
         .c001 h2{
                font-size: 16px;
         }
         .backtotop{
             font-size: 12px;
         }
    }