body{
    height: 519px;
}
.new{
    margin: 0 auto;
    width: 385px;
}
.top{
    background-image: url(./images/t1.jpg);
    width: 380px;
    height: 116px;
}
.content-text{
    
    width: 320px;
    height: 336px;
    padding: 0px 30px 20px 30px;
    background-image: url(./images/t2.jpg);
}
.footer{
    background-image: url(./images/t3.jpg);
    width: 385px;
    height: 67px;
}
