@use '../_01joint/_02variables.scss' as Var;
@use '../_01joint/_mixin/_01media.scss' as Rwd;


  // 1800px 以下
  @include Rwd.Rwd(xxxl) {
    .c001 {
            /* 全課程樣式 */
            background-color: $background02;
            width: 60%;
            margin: 0 auto;

            h2 {
                text-align: center;
                font-size: 18px;
                padding-top: 10px;
            }

            p {
                text-align: center;
                line-height: 1.5;
            }

        }
        #tro {
            font-size: 16px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #word1 {
            text-align: left;
            width: 60%;
            margin: 0 auto;
            font-size: 14px;
        }
        #word1 {
           padding-bottom: 10px;
        }
    }