* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Microsoft JhengHei", sans-serif;
    }

    body {
        background: #f5f5f5;
        color: #333;
        line-height: 1.7;
    }

    section {
        padding: 60px 10%;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 36px;
    }

    h2 {
        margin-bottom: 16px;
        font-size: 28px;
    }

    h3 {
        margin: 20px 0 10px;
    }

    p {
        margin-bottom: 10px;
    }

    ul {
        margin-left: 20px;
    }

    /* 介紹區 */
    .intro {
        background: white;
    }

    /* HSB 區塊 */
    .hsb {
        background: #ffffff;
    }

    .hsb-box {
        display: flex;
        gap: 40px;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .circle {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        background: conic-gradient(
            red, yellow, lime, cyan, blue, magenta, red
        );
    }

    /* 色相共用樣式 */
    .color-section {
        color: white;
    }

    .color-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
        margin-top: 30px;
    }

    .color-text ul li {
        margin-bottom: 6px;
    }

    .images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 15px;
    }

    .img-box {
        background: rgba(255,255,255,0.85);
        height: 120px;
        border-radius: 8px;
        border: black 1px solid;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    /* 各色相背景 */
    .red {
        background: #c4161c;
    }

    .orange {
        background: #f08c28;
    }

    .yellow {
        background: #f6c400;
        color: #333;
    }

    .green {
        background: #28a745;
    }
    .blue {
        background: #007bff;
    }

    .purple {
        background: #6f42c1;
    }

    footer {
        text-align: center;
        padding: 30px;
        background: #222;
        color: #aaa;
        font-size: 14px;
    }